.bg-nav {
    background: #12c2e9;
    background: black;
    background: black
}



.bg-home {
    background: #1FA2FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





}

.bg-Logs {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */






}

.card-body {
    box-shadow: 10px 10px 5px rgb(107, 114, 117);
}


h1 {
    color: white;
    font-family: unset;
}
.navbar{
    background: ivory;
}
.mt5{
    margin-top: 5rem;
}
.color-black{
    color: black;
}
.row{
    align-content: center;
    align-items: center;
}
.flek-cent{
    display: flex;
    justify-content: center;
}


